@import "tailwindcss";

body {
  margin: 0;
  min-height: 100vh;
  background-color: #ffffff;
  color: #213547;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #181a1b;
    color: #f3f3f3;
  }
}
